@import "../../../styles/constants.less";

@bg: #240000;
@fg: white;
@ec: #ff7f00;

@font-face {
    font-family: "Exocet";
    src: url("https://ryg.s3.fr-par.scw.cloud/resources/halloween2020/exocet.font-sfnt") format("truetype");
}


.halloween {
    background-color: @bg;
    color: @fg;
    border-color: @ec;
}

a.header {
    text-shadow: 0 0 0.1em #00caca;
}

.header {
    white-space: nowrap;
    text-wrap: none;
    font-family: "Exocet", serif;

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 100% !important;
        display: inline-block;
        vertical-align: middle;
    }
}

.tarotList {
    font-family: "Exocet", serif;
    font-weight: bolder;

    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    grid-row-gap: 2px;
}

.tarot {
    cursor: help;

    &.zawarudo {
        font-size: 40px;
        text-align: center;
        margin-top: 12px;

        grid-column-start: 1;
        grid-column-end: 4;
    }

    &.lit {
        text-shadow: 0 0 0.1em #ff7f00;
        color: white;
    }

    &.dim {
        color: #4d4d4d;
    }
}

