@import "../../styles/constants.less";

@font-face {
    font-family: "Exocet";
    src: url("https://ryg.s3.fr-par.scw.cloud/resources/halloween2020/exocet.font-sfnt") format("truetype");
}

.diablo() {
    font-family: "Exocet", serif;
    font-weight: bold;
}

.dim() {
    color: #4d4d4d;

    a {
        color: #008080;

        &:hover {
            color: #0ff;
        }

        &:active {
            color: #a0ffff;
        }
    }
}

.lit() {
    color: white;
    text-shadow: 0 0 0.1em #ff7f00;

    a {
        color: @link;
        text-shadow: 0 0 0.1em #00caca;
    }
}

.neutral() {
    color: #c79282;
}

.transition() {
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(.55,.09,.68,.53);
}

.halloween2020 {
    background-color: #240000;
    color: white;
    border: 4px solid black;
    border-radius: 4px;
    font-family: serif;

    hr {
        &.lit {
            border: 1px solid white;
            box-shadow: 0 0 0.1em #ff7f00;
        }

        &.dim {
            border: 1px solid #4d4d4d;
        }

        &.neutral {
            border: 1px solid #c79282;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        .diablo();
        .lit();

        &.largerTitle {
            font-size: 64px;
        }
    }

    .lit {
        .lit();
    }

    .dim {
        .dim();
    }

    .neutral {
        .neutral();
    }

    .diablo {
        .diablo();
    }


    .loading {
        .diablo();
        .lit();
    }

    .tarotGrid {
        margin-top: 8px;
        margin-bottom: 8px;

        // Grid stuff
        display: grid;
        align-items: center;
        @media (max-width: 792px) {
            grid-template-columns: 96px 1fr;
        }
        @media (min-width: 793px) {
            grid-template-columns: 192px 1fr;
        }
        grid-column-gap: 8px;
        grid-template-rows: auto 1fr;

        // Fields
        .tarotField {
            .transition();
        }

        .tarotTitle, .tarotPuzzle {
            .diablo();
            font-size: x-large;

            @media (max-width: 792px) {
                margin-top: 4px;
            }
            @media (min-width: 793px) {
                margin-top: 8px;
            }

            grid-column: 2;
            grid-row: 1;
        }

        .tarotPuzzle {
            color: black;
            opacity: 0;
        }

        .tarotTitle {
            .diablo();

            @media (max-width: 792px) {
                font-size: 32px;
            }
            @media (min-width: 793px) {
                font-size: 64px;
            }

            justify-self: center;

            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        .tarotName {
            .diablo();
            font-size: x-large;

            @media (max-width: 792px) {
                margin-top: 4px;
            }
            @media (min-width: 793px) {
                margin-top: 8px;
            }

            grid-column: 2;
            grid-row: 1;

            opacity: 1;
        }

        .tarotObjective {
            grid-column: 2;
            grid-row: 2;

            @media (max-width: 792px) {
                margin-bottom: 4px;
            }
            @media (min-width: 793px) {
                margin-bottom: 8px;
            }
        }

        // Puzzle animation
        &.hasPuzzle:hover {
            .tarotField {
                opacity: 0;

                &.tarotTitle {
                    color: black;
                    opacity: 1;
                }

                &.tarotPuzzle {
                    opacity: 1;
                }
            }
        }
    }

}

