@import "../../styles/constants.less";

.hzero {
    margin-top: 32px;
    margin-bottom: 32px;
}

.image {
    height: 128px;
    border-radius: 64px;
    vertical-align: middle;
}

.text {
    color: @accent;
    text-wrap: avoid;
}

.quote {
    font-size: small;
    text-align: center;
    position: relative;

    bottom: 30px;
    left: 74px;
}