@import "../../styles/constants.less";

.mini {
    padding: 8px;
    height: 300px;
    width: 160px;
    border-top-width: 2px;
    border-top-style: solid;

    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 4px;
}
