@import "../../styles/constants.less";

@steambg: #1B2838;
@steamfg: #8F98A0;
@steamec: #66C0F4;

.steam {
    background-color: @steambg;
    color: @steamfg;
    font-family: "Arial", sans-serif;
    border-color: @steamec;
}

.header {
    white-space: nowrap;
    text-wrap: none;

    .frame {
        background: linear-gradient( to bottom, #53a4c4 5%, #458097 95%);
        width: 34px;
        height: 34px;
        padding: 1px;
        display: inline-block;
        vertical-align: middle;

        .avatar {
            background: linear-gradient( to bottom, #41778f 5%, #3d697b 95%);
            width: 32px;
            height: 32px;
            border-radius: 0 !important;
        }
    }

    .personaName {
        margin-left: 4px;
    }
}

.keyvalue {
    margin: 4px 0;

    .caption {
        font-size: smaller;
        text-align: center;
    }

    .value {
        font-size: large;
        color: @steamec;
        text-align: center;
    }
}

.buttons {
    margin-top: auto;

    align-self: end;

    .button {
        width: 32px;
        height: 32px;
        background-color: fade(black, 15%);
        border-radius: 4px;
        position: relative;
        color: #9d9c9b;

        &:hover, &:active {
            background-color: fade(@steamec, 40%);
            color: white;
        }

        .buttoncontent {
            text-align: center;
            position: absolute;
            left: 6px;
            top: 7px;
        }
    }
}
