@import "../../styles/constants.less";

.steam {
    background-color: #16202d;
    color: #8F98A0;
}

.avatarframe {
    background: linear-gradient( to bottom, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    width: 34px;
    height: 34px;
    padding: 1px;
    display: inline-block;
    vertical-align: middle;
}

.avatar {
    background: linear-gradient( to bottom, #41778f 5%, #3d697b 95%);
    width: 32px;
    height: 32px;
    border-radius: 0 !important;
}
