@import "../styles/constants.less";

.current {
    font-size: xx-large;
}

.transactiontable {
    width: 100%;

    .amount {
        text-align: right;
        font-family: @mono;

        &.positive {
            color: @lime;
        }

        &.negative {
            color: @red;
        }
    }
}
